[submodule "www-spin/themes/hugo-theme-learn"]
	path = www-spin/themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "www-spin/themes/hugo-theme-docdock"]
	path = www-spin/themes/hugo-theme-docdock
	url = https://github.com/vjeantet/hugo-theme-docdock.git

